<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops, unSnap!'}">
  <p>{{ 344.36 | currency: 'EUR' : 'code' }}</p>
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <p>{{ faceSnap.description }}</p>
  <button (click)="onViewFaceSnap()">VIEW</button>
</div>
